<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.ScheduleMapper">
   <select id="selectScheduleListByMonth" parameterType="java.util.Map"
            resultType="java.util.Map">
      SELECT 
            day(schedule_date) as day, 
            COUNT(*) as cnt, 
            GROUP_CONCAT(substr(schedule_memo,1,5)) as memo
        FROM schedule
       WHERE member_id = #{memberId}
         AND YEAR(schedule_date) = #{targetYear}
         AND MONTH(schedule_date) = #{targetMonth} +1
       GROUP BY schedule_date
       ORDER BY schedule_date ASC
   </select>
  
  	<select id="selectScheduleListByDay" parameterType="com.example.diary.vo.Schedule"
            resultType="com.example.diary.vo.Schedule">
      SELECT 
      		 schedule_no scheduleNo, 
				schedule_date scheduleDate,
				schedule_memo scheduleMemo,
				createdate
	    FROM schedule
	   WHERE member_id = #{memberId}
		 AND YEAR(schedule_date) = #{targetYear}
		 AND MONTH(schedule_date) = #{targetMonth}+1
		 AND DAY(schedule_date) = #{targetDay}    
  
  	</select>
   




</mapper>


